<h1>Secrets</h1>

<% @secrets.each do |secret| %>
    <%= secret.content%>
    <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Secret" id="Delete Secret" name="Delete Secret"/>
    </form>
    <% end %>
<% end %>